* {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#title {
  font-family: monospace;
}

#color-palette {
  align-items: center;
}

.color {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
}

#black {
  background-color: black;
}

#yellow {
  background-color: yellow;
}

#darkred {
  background-color: darkred;
}

#green {
  background-color: green;
}

.pixel {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 1px solid black;
  background-color: white;
}

.pixelDois {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 1px solid black;
  background-color: white;
}
